@import '../../../assests/scss/variables.scss';

.cart-items-list {
  h1 {
    text-align: center;
    font-size: 1.5rem;
    color: $bright;
  }

  .MuiList-root {
    width: 50rem;
  }
  .MuiDivider-root {
    background-color: $bright;
    width: 95%;
    margin: 0 auto;
  }
}
