@import '../../assests/scss/variables.scss';
.cart-page {
  .cart-page_main-heading {
    font-size: 4rem;
    width: fit-content;
    margin: 3rem auto 0 auto;
  }

  .cart-page_container {
    margin: 2rem 4rem 0 4rem;
    // background-color: red;
    display: flex;
    justify-content: space-between;
  }

  .MuiDivider-root {
    background-color: $bright;
    width: 100%;
    margin: 0 auto;
  }
}
